<!DOCTYPE html>
<html>
    <head>
        <title>OZONE API</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2 class="lead">{{info.name}} Plugin</h2>
            <h3 class="well lead">{{info.desc}}</small></h3>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Query Information
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Query URL</dt>
                        <dd><a href="{{response.url}}">{{response.url}}</a></dd>
                        <dt>HTTP Code</dt>
                        <dd>{{response.httpCode}}</dd>
                    <dl>
                </div>
            </div>

            {{#if response.performance}}
                {{> performance}}
            {{/if}}

            {{#if response.request}}
                {{> request}}
            {{/if}}

            {{#if response.system}}
                {{> system}}
            {{/if}}

            {{> query}}
        </div>
    </body>
</html>