<!DOCTYPE html>
<html>
    <head>
        <title>OZONE Security</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
          <form role="form">
            <div class="form-group">
              <label for="emailAddress">Email address</label>
              <input type="email" class="form-control" id="emailAddress" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div>
      </body>
</html>